/*body {
    font-size: 10px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

body h1 {
    font-size: 10px;
    padding-bottom: 4px;
    margin: 0;
}

body p {
    margin: 0;
}*/

#menu {
    background: #eceebc;
    position: relative;
    z-index: 1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 3px;
    width: 100%;
    height: 20%;
    border: 1px solid rgba(0,0,0,0.4);
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 3px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #bbac81;
    color: #404040;
}

#menu a.active {
    background-color: #5c7381;
    color: #ffffff;
}

#menu a.active:hover {
    background: #a92c26;
}

#toolbar {
    height: 5px;
    width: 5px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border-right: 2px solid black;
    padding: 10px;
    transition:  width 0.5s, height 0.5s, opacity 0.5s;
    -webkit-transition:  width 0.5s, height 0.5s, opacity 0.5s;
    overflow: hidden;
    opacity: 0.5;
}

#toolbar:hover {
    width: 250px;
    height: 100%;
    opacity: 1;
}

#toolbar .toolbar-element {
    position: relative;
    height: auto;
    width: 200px;
    top: 0;
    padding: 10px;
}

#about {
}

#city {
}

#layers {
}

#narrative {
}

.button > p {
    vertical-align: middle;
    padding: 0;
}

.button {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    font-size: 35px;
    text-align: center;
    z-index: 3;
    background-color: #fff;
}

.control {
    height: 50px;
    font-size: 35px;
    z-index: 3;
    display: none;
    transition: height 0.5s;
    bottom:0;
    position: absolute;
    width: 40%;
    margin: 10px;
}

.control.next{
    right:0;
    text-align: left;

}

.control.previous {
    left: 0;
    text-align: right;
}

#team {
}

.description {
    position: absolute;
    right: 0;
    width: 0;
    height: 95%;
    z-index: 3;
    background-color: #fff;
    color: black;
    opacity: 0.95;
    overflow: hidden;
    text-align: center;
    transition:  width 0.5s, padding 0.5s;
    -webkit-transition:  width 0.5s, padding 0.5s;
    -webkit-transition-timing-function: ease-in-out; 
    transition-timing-function: ease-in-out;

}

.description-wrapper {
    position: absolute;
    width: 300px;
    height: 95%;
}

.description-wrapper.expanded {
    width: 800px;
}

.description.active {
    width: 320px;
    border: 2px solid black;
    padding: 10px;
    transition:  width 1s;
    -webkit-transition:  width 1s;
}

.description.expanded {
    width: 0;
    text-align: left;
}

.description.expanded.active {
    width: 800px;
    transition:  width 1s;
    -webkit-transition:  width 1s;
}

.description-text {
    opacity: 1;
    color: black;
    position: relative;
    padding-bottom: 10px;
    text-align: left;
    
}
.description h1 {
    font-size: 25px;
}

.description h3 {
    font-size: 15px;
    margin: 0;
    line-height: 15px;
    padding-bottom: 5px;
}

.description p {
    padding-bottom: 2px;
    text-align: left;
}

.description-media {
    border: 1px solid black;
    background-color: gray;
    bottom: 60px;
    position: absolute;
    height: 150px;
    width: 290px;
    transform: translateX(-50%);
    left: 50%;
}

.description-media.large {
    height: 300px;
    width: 500px;
    right: 10px;
}

#container_sketch1{
    height: 150px;
    width: 300px;
    padding-bottom: 10px;
}

.svg-container{
    width: 300px;
    position: relative;
}

.svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#streetview-container{
    width: 450px;
    height: 600px;
    position: absolute;
    top:74px;
    right: 0;
}

.cluster-population,
.cluster-score,
.cluster-radar {
    text-align: left;
    top: 0px;
    left: 20px;
}

.bar rect {
  fill: #a7a7a7;
  /*fill: rgba(105, 170, 176, 0.5);*/
}

.bar text {
  fill: #000;
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.axis text{
    font: 10px sans-serif;
    opacity: 0.7;
}

.axis path,
.axis line{
    fill: none;
    stroke: rgba(100, 100, 100, 1);
    shape-rendering: crispEdges;
}

.histo-line-pop,
.histo-line-score {
  fill: none;
  stroke: rgba(254, 72, 48, 1);
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.histo-line-text-pop,
.histo-line-text-score {
    fill: rgba(254, 72, 48, 1);
    font-size: 12px;
}

.histo-outline {
    fill: none;
    stroke: rgba(100, 100, 100, 1);
    stroke-width: 0.5px;  
}

.histo-fill{
    fill: rgba(100, 100, 100, 0.35);
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    fill: #fff;
}


dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 300px;
  overflow: visible;
}
dl dt {
  flex: 0 0 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}
dl dd {
  flex:0 0 50%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
*:focus {
    outline: none;
}

.chevron::before {
    border-style: solid;
    border-color: #fff;
    border-width: 3px 3px 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      opacity: 0.3;
      display: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}